name: test-copy

on:
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Checkout tools repo
        uses: actions/checkout@v6.0.1
        with:
          repository: PavanMudigonda/devops
          path: devops
          ref: gh-pages
          token: ${{ secrets.GH_PAT }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6.1.0
        with:
          node-version: lts/*
          
      - name: List Files in workspace
        if: always()
        run: |
          ls -R;

      - name: Get Test Results history
        uses: actions/checkout@v6.0.1
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Create Playwright Test Results History
        uses: PavanMudigonda/html-reporter-github-pages@v1.5
        id: test-report
        with:
          playwright_results: test-results
          gh_pages: gh-pages
          playwright_history: playwright-history
          keep_reports: 20
          token: ${{ secrets.GH_PAT }}
          
